<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="alidoran.ir.OnlineStore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SigninActivity"
            android:theme="@style/signin" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/signup" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WaitActivity" />
        <activity android:name=".RateStar" />
        <activity android:name=".SpecActivity" />
        <activity android:name=".Specification" />
        <activity android:name=".ActivityComment" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".RecycleActivityListProduct" />
        <activity android:name=".WaitCatListActivity" />
        <activity android:name=".CatListActivity"></activity>
    </application>

</manifest>